.imgg{
    height: 49px;
    width: 49px;
    
}
.img-div{
    padding-top: 250px;
    text-align: center;
}
.imgg2{
   height: 60px;
    
}
.img-div2{
    padding-top: 190px;
    text-align: center;
}
